<div class="card my-5">
  <div class="card-body">
    <div class="form-group">
      <input class="form-control" type="text" (keyup)="search()" [(ngModel)]="filter" placeholder="Prefix-Search ..."/>
    </div>

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Prefix</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="3">
          <button class="btn" routerLink="/codetype/">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            Add new
          </button>
        </td>
      </tr>
      <tr *ngFor="let ct of codeTypes" routerLink="/codetype/{{ct.id}}">
        <td>{{ ct.id }}</td>
        <td>{{ ct.name }}</td>
        <td>{{ ct.prefix }}</td>
      </tr>
      </tbody>
    </table>

    <ul class="pagination">
      <li class="page-link" (click)="previousPage()">&lt;</li>
      <li class="page-link">{{currentpage + 1}}</li>
      <li class="page-link" (click)="nextPage()">&gt;</li>
    </ul>
  </div>
</div>
