<div class="card my-5">
  <div class="card-body">
    <div class="form-group">
      <input class="form-control" type="text" (keyup)="search()" [(ngModel)]="filter" />
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Prefix</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ct of codeTypes" routerLink="/codetype/{{ct.id}}">
        <td>{{ ct.id }}</td>
        <td>{{ ct.name }}</td>
        <td>{{ ct.prefix }}</td>
      </tr>
      </tbody>
    </table>
    <ul class="pagination">
      <li class="page-link" (click)="previousPage()">&lt;</li>
      <li class="page-link">{{currentpage + 1}}</li>
      <li class="page-link" (click)="nextPage()">&gt;</li>
    </ul>
  </div>
</div>
