<div class="card my-5">
  <div class="card-body">

    <h2><app-inline-edit type="text" [(ngModel)]="codeType.name"></app-inline-edit><sub>(#{{id}}, <app-inline-edit type="text" [(ngModel)]="codeType.prefix"></app-inline-edit>)</sub></h2>

    <div class="form-group">
      <button routerLink="{{referrerUrl}}" class="btn">&lt;&lt; abbrechen</button>
      <button (click)="save()" class="btn">save</button>
    </div>

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Wert</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cv of codeType?.codeValues">
        <td><app-inline-edit type="text" [(ngModel)]="cv.id"></app-inline-edit></td>
        <td><app-inline-edit type="text" [(ngModel)]="cv.name"></app-inline-edit></td>
        <td><app-inline-edit type="text" [(ngModel)]="cv.value"></app-inline-edit></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
