<div class="card my-5">
  <div class="card-body">

    <h2>{{codeType?.name}}<sub>(#{{id}}, {{codeType?.prefix || "-"}})</sub></h2>

    <div class="form-group">
      <button routerLink="/codetypes" class="btn">&lt;&lt; back</button>
      <button routerLink="{{'/editcodetype/' + id}}" [queryParams]="{referrer: '/codetype/' + id}" class="btn">edit</button>
    </div>

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cv of codeType?.codeValues">
        <td>{{ cv.id }}</td>
        <td>{{ cv.name }}</td>
        <td>{{ cv.value }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
